files:
  '/opt/elasticbeanstalk/hooks/appdeploy/pre/49install_yarn.sh':
    mode: '000755'
    owner: root
    group: root
    content: |
      #!/usr/bin/env bash
      set -euxo pipefail

      EB_APP_STAGING_DIR=$(/opt/elasticbeanstalk/bin/get-config container -k app_staging_dir)

      if node -v; then
        echo 'Node already installed.'
      else
        echo 'Installing node...'
        curl --silent --location https://rpm.nodesource.com/setup_10.x | sudo bash -
        yum -y install nodejs
      fi

      if yarn -v; then
        echo 'Yarn already installed.'
      else
        echo 'Installing yarn...'
        wget https://dl.yarnpkg.com/rpm/yarn.repo -O /etc/yum.repos.d/yarn.repo
        yum -y install yarn
      fi
      cd $EB_APP_STAGING_DIR
      yarn && yarn build

  '/opt/elasticbeanstalk/hooks/appdeploy/pre/50npm.sh':
    mode: '000755'
    owner: root
    group: root
    content: |
      #!/usr/bin/env bash
      # Prevent installing or rebuilding like Elastic Beanstalk tries to do by default

  '/opt/elasticbeanstalk/hooks/configdeploy/pre/50npm.sh':
    mode: '000755'
    owner: root
    group: users
    content: |
      #!/usr/bin/env bash
      # Prevent installing or rebuilding like Elastic Beanstalk tries to do by default
